[submodule "tstest_template"]
	path = tstest_template
	url = https://github.com/zeroneqin/tstest_template.git
[submodule "tstest_3layer"]
	path = tstest_3layer
	url = https://github.com/zeroneqin/tstest_3layer.git
